<div class="row mb-2">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          People you follow:
        </h3>
      </div>
      <% if @followed_users.count == 0 %>
        <ul class="list-group">
          <li class="list-group-item">
            It doesn't look like you're following anyone yet.
          </li>
        </ul>
      <% else %>
        <ul class="list-group">
          <% @followed_users.each do |a_followed_user| %>
            <li class="list-group-item">
              <a href="/user/<%= a_followed_user.id %>">
                <%= a_followed_user.first_name %> <%= a_followed_user.last_name %>
                (<%= a_followed_user.user_name %>)
              </a>
              <form action="/delete_follow_request" method="post">
                <input type="hidden" name="query_id"
                  value="<%= FollowRequest.all.where(sender_id: @current_user.id, recipient_id: a_followed_user.id).first.id %>"
                >
                <button class="btn btn-primary">
                  Unfollow
                </button>
              </form>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          Everyone else:
        </h3>
      </div>
      <% if @non_followed_users.count == 0 %>
        <ul class="list-group">
          <li class="list-group-item">
            It looks like you're already following everyone.
          </li>
        </ul>
      <% else %>
        <ul class="list-group">
          <% @non_followed_users.each do |a_non_followed_user| %>
            <li class="list-group-item">
              <a href="/users/<%= a_non_followed_user.id %>">
                <%= a_non_followed_user.first_name %> <%= a_non_followed_user.last_name %>
                (<%= a_non_followed_user.user_name %>)
              </a>
              <form action="/insert_follow_request" method="post">
                <input type="hidden" name="query_sender_id" value="<%= @current_user.id %>">
                <input type="hidden" name="query_recipient_id" value="<%= a_non_followed_user.id %>">
                
                <button class="btn btn-primary">
                  Follow
                </button>
              </form>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<hr>

<div class="row mb-2">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          Your followers:
        </h3>
      </div>      
      <% if @current_user.followers.count == 0 %>
        <ul class="list-group">
          <li class="list-group-item">
            You don't have any followers yet.
          </li>
        </ul>
      <% else %>
        <ul class="list-group">
          <% @current_user.followers.each do |a_follower| %>
            <li class="list-group-item">
              <a href="/users/<%= a_follower.id %>">
                <%= a_follower.first_name %> <%= a_follower.last_name %>
                (<%= a_follower.user_name %>)
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
